<div class="container mt-5">
    <h2 class="text-center">User-Management</h2>

    <div class="card p-3 mb-4">
        <input type="text" [(ngModel)]="newUser.name" placeholder="Enter Your Name" class="form-control mb-2">
        <input type="email"[(ngModel)]="newUser.email" placeholder="Enter Your Email" class="form-control mb-2">
        <button class="btn btn-primary" (click)="addUser()">Add User</button>
    </div>

    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
</div>